<app-page-background>
  <div class="quote">
    <h3>Manger sain, c'est prendre soin de soi avec chaque bouchée</h3>
  </div>
  <app-svg-box [height]="'100%'" [width]="'95%'">
    <div class="recipe-container">
      <div class="first-section-recipe">
        <div class="upload">
          <app-upload-image
            [uploadedImage]="recipe?.imageUrl ?? ''"
            (fileSelected)="selectImage($event)"
            [acceptedFileTypes]="'image/*'"
          ></app-upload-image>
        </div>
        <div class="recipe-details">
          <app-input-field
            [placeholderColor]="'var(--brown)'"
            [fontWeight]="'bold'"
            [fontSize]="'26px'"
            [color]="'var(--brown)'"
            [control]="titleControl"
          ></app-input-field>
          <div class="details-grid-container">
            <div class="detail-item">
              <img src="assets/images/chef.png" alt="category" />
              <app-dropdown
                [name]="'Catégorie'"
                [options]="categoryOptions"
                [control]="categoryControl"
              ></app-dropdown>
            </div>
            <div class="detail-item">
              <img src="assets/images/goal.png" alt="goal" />
              <app-dropdown
                [name]="'Objectif'"
                [options]="objectifOptions"
                [control]="objectifControl"
              ></app-dropdown>
            </div>
            <div class="detail-item" *ngFor="let item of items">
              <img [src]="item.image" alt="goal" />
              <app-input-field
                [control]="item.formControlName"
                [placeholder]="item.placeholder"
              ></app-input-field>
            </div>
          </div>
          <div class="detail-item">
            <img src="assets/images/meal.png" alt="preptime" />
            <app-dropdown
              [name]="'Temps de préparation'"
              [options]="preptimeOptions"
              [control]="preptimeControl"
            ></app-dropdown>
          </div>
        </div>
      </div>
      <div class="separation-line"></div>

      <div class="second-section-recipe">
        <h2>Description:</h2>
        <app-input-field
          [control]="descriptionControl"
          [placeholder]="'Entrez une briève description'"
        ></app-input-field>
        <app-recipe-description
          [details]="recipe?.ingredients || []"
          (enterPressed)="updateDetails(ingredients, $event)"
          [placeholder]="'Ajouter un ingrédient'"
          [title]="'Ingrédients :'"
        ></app-recipe-description>
        <app-recipe-description
          [details]="recipe?.instructions || []"
          (enterPressed)="updateDetails(instructions, $event)"
          [placeholder]="'Ajouter une instruction'"
          [title]="'Instructions :'"
        ></app-recipe-description>
        <app-recipe-description
          [details]="recipe?.cookingNotes || []"
          (enterPressed)="updateDetails(notes, $event)"
          [placeholder]="'Ajouter une cooking Note'"
          [title]="'Cooking Note :'"
        ></app-recipe-description>
      </div>
      <app-button
        *ngIf="!isEditMode"
        [disabled]="isButtonDisabled()"
        [text]="'Ajouter Recette'"
        [onClick]="saveRecipe"
      ></app-button>
      <app-button
        [disabled]="isButtonDisabled()"
        *ngIf="isEditMode"
        [text]="'Modifier Recette'"
        [onClick]="saveRecipe"
      ></app-button>
    </div>
  </app-svg-box>
</app-page-background>
