<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Client Reservation canceled Notification</title>
  </head>
  <body style='margin:0;padding:0;font-family: Arial, Helvetica, sans-serif;'>
    <div
      style='height: auto; background-color:#9dc209; width: 400px; padding: 30px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);'
    >
      <h1 style='text-align: center; color: #fff;'>New Nutritionist Candidature</h1>
      <hr style='border: 1px solid #fff; margin-bottom: 20px;' />
      <p style='color: #fff;'>Dear Admin,</p>
      <p style='color: #fff;'>A Nutritionist has asked to join our
        platform.</p>
      <p style='color: #fff;'><strong>Nutritionist Name:</strong> {{nutritionistName}}</p>
      <br />
      <p style='color: #fff;'>Please log in to your dashboard to view more
        details.</p>
      <a
        href='http://localhost:4200/login'
        target='_blank'
        style='background: #cc5500; padding: 10px; border: none; color: white; border-radius: 4px; display: block; margin: 0 auto; width: 50%; text-align: center; text-decoration: none;'
      >
        Login
      </a>
      <br />
      <p style='color: #fff;'>Kind Regards,<br /><br />
        NutriSolutions</p>
    </div>
  </body>
</html>