<app-page-background>
  <div class="quote">
    <h3>Manger sain, c'est prendre soin de soi avec chaque bouchée</h3>
  </div>
  <app-svg-box [height]="'100%'" [width]="'95%'">
    <h2 class="title">Nos Recettes:</h2>
    <div class="filters">
      <app-search [formControlName]="searchControl"></app-search>
      <app-dropdown
        [name]="'Objectif'"
        [options]="objectifOptions"
        [formControlName]="objectifControl"
      ></app-dropdown>
      <app-dropdown
        [name]="'Catégorie'"
        [options]="categoryOptions"
        [formControlName]="categoryControl"
      ></app-dropdown>
      <div style="margin-left: auto">
        <app-button
          [text]="'Ajouter Recette'"
          [routerLink]="'add-recipe'"
        ></app-button>
      </div>
    </div>
    <div class="grid-container">
      <app-recipe-item
        [recipe]="recipe"
        *ngFor="
          let recipe of recipes
            | recipeFilter
              : searchControl.value
              : categoryControl.value
              : objectifControl.value
        "
      
      ></app-recipe-item>
    </div>
    <div class="pagination">
      <app-pagination (pageChanged)="updatePage($event)"></app-pagination>
    </div>
  </app-svg-box>
</app-page-background>
