.background {
  display: flex;
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
.background {
  display: flex;
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
.left-section {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.orange-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
.orange-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
.right-section-img {
  position: absolute;
  left: -40%;
  height: 80%;
  width: 120%;
  object-fit: cover;
  border-radius: 15px;
}
.right-section-img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .background {
    flex-direction: column;
  }
  .right-section-img {
    width: 90%;
    height: 100%;

    bottom: 17%;
    left: auto;
  }
}

