.input-wrapper {
  width: 100%;
}
.input {
  position: relative;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.input .input-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

input::placeholder {
  color: var(--hint-text-color);
}
input,
input:focus {
  border: none;
  outline: none;
}

.input:has(input:focus) {
  outline: none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--light-green);
}
.input input {
  width: 100%;
  height: 100%;
  padding: 8px 11px;
}

.input-heading {
  color: var(--text-color);
  font-size: 20;
  font-weight: 600;
}
