<app-auth-background>
  <form #loginForm="ngForm">
    <h1>Connexion</h1>
    <div class="inputs">
      <app-auth-input-field label="Email Address" placeholder="Type your email here" type="email" name="email"
        [control]="emailControl" [required]="true"></app-auth-input-field>
      <app-auth-input-field label="Password" [control]="passwordControl" placeholder="Type your password here"
        [isPassword]="true" name="password" [required]="true"></app-auth-input-field>
      <!-- <app-auth-input-field label="Email Address" placeholder="Type your email here" type="email" name="email"
        [inputValue]="email" (onInputChange)="setEmail($event)" [required]="true"></app-auth-input-field>
      <app-auth-input-field label="Password" [inputValue]="password" placeholder="Type your password here"
        (onInputChange)="setPassword($event)" [isPassword]="true" ngModel name="password"
        [required]="true"></app-auth-input-field> -->
      <div class="extra-options">
        <div class="checkbox">
          <input type="checkbox" /> <label> Remember me ? </label>
        </div>
        <a (click)="showRequestPassPopup()" class="forgot-password">Forgot Password ?</a>
      </div>
      <app-button [type]="'submit'" [disabled]="loginForm.invalid ?? false" [text]="'Connexion'"
        [onClick]="connexion"></app-button>
      <div class="signup">
        Don't have an account?
        <a [routerLink]="'/signup'" id="signup">Sign up</a>
      </div>
      <div class="social-login">
        <img src="assets/images/facebook-logo.png" alt="Facebook Logo" class="social-logo" />
        <img src="assets/images/apple-logo.png" alt="Apple Logo" class="social-logo" />
        <img src="assets/images/google-logo.png" alt="Google Logo" class="social-logo" />
      </div>
    </div>
  </form>
  <app-popup *ngIf="isRequestPopupVisible" (popupClosed)="isRequestPopupVisible=false;"
    [text]="'Veuillez insérer votre email'">
    <app-input-field [placeholder]="'Votre email...'" [control]="emailControl"></app-input-field>
    <div style="display: flex; gap: 10px">
      <app-button [text]="'Confirmer'" [onClick]="sendResetPassRequest"></app-button>
      <app-button [boxShadow]="'0 4px 8px 2px #ffc5c5'" [backgroundColor]="'#df0404'" [onClick]="closeRequestPopup"
        [text]="'Annuler'"></app-button>
    </div>
  </app-popup>

</app-auth-background>