.extra-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--hint-text-color);
  font-size: small;
}
.forgot-password {
  color: var(--hint-text);
  text-decoration: none;
}
.checkbox {
  display: flex;
align-items: center;
}
.checkbox label {
  margin-left: 5px;
  color: var(--hint-text);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--hint-text);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5" fill="none" stroke="white" stroke-width="2"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.signup {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 0.9rem;
  text-align: center;
}
#signup {
  color: var(--primary-color);
}
.social-login {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.social-logo {
  margin-left: 10px;
  width: 15%;
}
.social-logo:hover {
  transform: scale(1.2);
}
