<div class="page-container">
  <app-nav-bar></app-nav-bar>
  <div class="right-section">
    <div class="quote">
      <h3>{{ quote }}</h3>
    </div>
    <div class="list-container">
      <app-svg-box [height]="'110%'" [width]="'100%'">
        <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px;">
          <app-recette-item></app-recette-item>
          <app-recette-item></app-recette-item>
          <app-recette-item></app-recette-item>
          <app-recette-item></app-recette-item>
          <app-recette-item></app-recette-item>
          <app-recette-item></app-recette-item>
          <app-recette-item></app-recette-item>
          <app-recette-item></app-recette-item>
        </div>
      </app-svg-box>
    </div>
  </div>
</div>
