<app-auth-background>
    <div class="form">
        <h1>Reset Password</h1>
        <div class="inputs">
            <app-auth-input [heading]="'Old Password'" [type]="'text'"
                [placeholder]="'Entrer votre ancien mot de passe'">
            </app-auth-input>
            <app-auth-input [heading]="'New Password'" [type]="'password'"
                [placeholder]="'Entrer votre nouveau mot de passe'"> </app-auth-input>
            <app-auth-input [heading]="'Confirm New Password'" [type]="'password'" [placeholder]="''"> </app-auth-input>

        </div>
        <button class="btn" type="submit">Confirmer</button>



    </div>
</app-auth-background>