form h1 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
}
.background .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(100px, 20%, 150px);
}

form {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .inputs {
  width: 60%;
}
@media (min-width: 1920px) and (min-height: 1080px) {
  form{
    width: 70%;
    height: 80%;
  }
  form .inputs{
    width: 50%
  }
}
@media screen and (max-width: 768px) {
  .form {
    width: 60%;
  }
}