<app-page-background>
  <app-water-tracking></app-water-tracking>
  <app-top-list [title]="'Les recettes les plus populaires'">
    <app-recipe-item
      [recipe]="recipe"
      *ngFor="let recipe of popularRecipes"
    ></app-recipe-item>
  </app-top-list>
  <app-top-list [title]="'Les meilleurs nutritionistes'">
    <app-nutritionist-item
      *ngFor="let nutritionist of bestNutritionists"
      [name]="nutritionist.name"
      [imgUrl]="nutritionist.profilePictureUrl"
      [patientsNumber]="nutritionist.patientsNumber"
      [yearsOfExperience]="nutritionist.experienceYears"
    ></app-nutritionist-item>
  </app-top-list>
</app-page-background>
