<svg class="pl" viewBox="0 0 200 200" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
    <defs>

        <linearGradient id="linear" x1="0" y1="0" x2="0" y2="1">
            <stop offset="0%" stop-color="#cc5500" />
            <stop offset="100%" stop-color="#9dc209" />
        </linearGradient>
    </defs>
    <circle class="pl__ring" cx="100" cy="100" r="82" fill="none" stroke="url(#linear)" stroke-width="36"
        stroke-dasharray="0 257 1 257" stroke-dashoffset="0.01" stroke-linecap="round"
        transform="rotate(-90,100,100)" />
    <line class="pl__ball" stroke="url(#linear)" x1="100" y1="18" x2="100.01" y2="182" stroke-width="36"
        stroke-dasharray="1 165" stroke-linecap="round" />
</svg>