<div class="input-field-container">
  <div class="input-header">
    <label class="input-label">{{ label }}</label>
    <!-- <small *ngIf="inputNote" class="input-note" [ngClass]="{
        'valid-input-note': valid && input.valid,
        'error-input-note': !valid || input.invalid
      }">{{ inputNote }}</small> -->
  </div>
  <div class="input-wrapper">
    <input [formControl]="control" [type]="isPassword && !isPasswordVisible ? 'password' : 'text'"
      [placeholder]="placeholder" [required]="required" [minlength]="isPassword ? 8 : null" [email]="type == 'email'"
      [ngClass]="{
        'valid': valid && control.valid,
        'invalid': !valid || !control.valid,
      }" appPasswordCheck [applyPasswordCheck]="applyCheck && isPassword && !label.toLowerCase().includes('confirm')"
      appEmailCheck [applyEmailCheck]="applyCheck&& type=='email'" appConfirmPasswordCheck
      [applyConfirmPassword]="applyCheck&& isPassword && label.toLowerCase().includes('confirm')"
      [password]="password" />
    <span class="toggle-icon" *ngIf="isPassword" (click)="togglePasswordVisibility()">
      <i class="fa" [ngClass]="{
          'fa-eye': !isPasswordVisible,
          'fa-eye-slash': isPasswordVisible
        }"></i>
    </span>

  </div>
</div>