.dropdown-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.dropdown-input {
  width: 100%;
  padding: 8px 40px 8px 12px;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 25px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--primary-color), var(--secondary-color))
      border-box;
  outline: none;
  appearance: none; /* Hides the default dropdown arrow */
  cursor: pointer;
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: 20px;
  pointer-events: none;
}

.dropdown-input:focus {
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--secondary-color), var(--primary-color))
      border-box; /* Slight color shift for focus */
  box-shadow: 0 0 1px var(--primary-color), 0 0 1px var(--secondary-color),
    0 0 1px var(--primary-color);
}

option:checked {
  background-color: var(--secondary-color);
}
