<div class="search-header">
  <div class="search-container">
    <input
      [formControl]="formControlName"
      type="text"
      class="search-input"
      placeholder="Search..."
    />
    <img class="search-icon" src="assets/images/search-icon.svg" alt="search" />
  </div>
  <div class="name-logout">
    <h4>{{ user?.name ?? "Admin" }}</h4>

    <button (click)="signout()" class="logout">Logout</button>
  </div>

  <img
    [src]="user?.profilePictureUrl ? base_url + user?.profilePictureUrl : defaultImage"
    class="avatar"
    alt=""
  />
</div>
