<app-page-background>
    <div class="first-section">
        <div class="today-meets-section">

            <app-svg-box>
                <div class="today-meets-content">
                    <h2>Good Morning <span class="name">Dr.{{name}}</span> </h2>
                    <div class="infos">

                        <h4>Consultations Aujourd'hui</h4>
                        <p>104</p>
                        <div class="stats">
                            <app-stats [evolutionPercent]="51" [stat]="40"
                                [statObject]="'Nouveaux Patients'"></app-stats>
                            <app-stats [evolutionPercent]="-20" [stat]="64"
                                [statObject]="'Ancien Patients'"></app-stats>
                        </div>

                    </div>


                    <img class="nutritionist-img" src="assets/images/nutritioniste-man.png" alt="">
                </div>

            </app-svg-box>
        </div>

        <div class="calendar">
            <mat-calendar>
            </mat-calendar>
        </div>
    </div>
    <div class="second-section">
        <div class="patients-list">
            <app-upcoming-patients [patients]="patientsList"></app-upcoming-patients>
        </div>
    </div>

</app-page-background>