<div class="recipe-detail-item">
  <h2>{{ title }}</h2>
  <div class="input">
    <app-input-field
      [formControl]="detailControl"
      [placeholder]="placeholder"
      (enterPressed)="addDetail($event)"
    ></app-input-field>
  </div>
  <ul>
    <li *ngFor="let detail of details; let i = index">
      <div class="detail-list">
        <img src="assets/images/cancel.png" alt="delete" class="delete-icon" (click)="deleteDetail(i)" />
        <span class="detail-text">{{ detail }}</span>
      </div>
    </li>
  </ul>
</div>
