<app-page-background [quote]="'Un nutritionniste, votre allié pour \nune santé équilibrée et durable'">
    <div class="grid-container">
        <app-nutritionist-item></app-nutritionist-item>
        <app-nutritionist-item></app-nutritionist-item>
        <app-nutritionist-item></app-nutritionist-item>
        <app-nutritionist-item></app-nutritionist-item>
        <app-nutritionist-item></app-nutritionist-item>
        <app-nutritionist-item></app-nutritionist-item>
        <app-nutritionist-item></app-nutritionist-item>

    </div>
</app-page-background>