<div class="input-field-container">
  <label class="input-label">{{ label }}</label>
  <div class="input-wrapper">
    <input ngModel [type]="isPassword && !isPasswordVisible ? 'password' : 'text'" [placeholder]="placeholder"
      [required]="required" [(ngModel)]="inputValue" [minlength]="isPassword?8:null" [email]="type=='email'" />
    <span
      class="toggle-icon"
      [hidden]="!isPassword"
      (click)="togglePasswordVisibility()"
    >
      <i
        class="fa"
        [ngClass]="{
          'fa-eye': isPassword && !isPasswordVisible,
          'fa-eye-slash': isPassword && isPasswordVisible
        }"
      ></i>
    </span>
  </div>
</div>
