.input-field-container {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
}

input {
  width: 100%;
  padding: 0.7rem 0rem 0.7rem 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
input:focus {
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--light-green);
  outline: none;
}
input::placeholder {
  color: var(--hint-text);
}
.toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--hint-text);
}

.toggle-icon:hover {
  color: #555;
}
