.upcoming-patients-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 10%;
}
.upcoming-patients-wrapper h2 {
  font-size: clamp(0.9rem, 2.5vw, 1.3rem);
  font-weight: 500;
  padding-left: 40px;
}

.patients-list {
  flex: 40%;
  padding: 0 40px;
  display: flex;
  max-height: 400px;
  overflow-y: scroll;
  flex-direction: column;
  gap: 20px;
}
.next-meet-card {
  flex: 40%;
}
