.svg-container {
  width: var(--width);
  height: var(--height);
  padding-top: 10%;
  border-radius: 8%;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.svg-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
