.svg-container {
  width: var(--width);
  height: var(--height);
  border-radius: 8%;
  box-shadow: var(--drop-shadow);
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.svg-content {
  padding: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-overflow: ellipsis;
}
