<div class="stats" (mouseenter)="hovered = true" (mouseleave)="hovered = false">
  <p class="stat-object">{{ statObject }}</p>
  <div class="numbers">
    <p class="stat-number">{{ stat }}</p>
    <div
      class="evolution"
      *ngIf="evolutionPercent !== null"
      [class.active]="hovered"
      [ngStyle]="{ backgroundColor: '#DFFDDD', color: '#008000' }"
    >
      <p class="evolution-number">{{ evolutionPercent }}%</p>
      <img
        [src]="'assets/images/' + 'increase' + '.svg'"
        alt="Evolution Image"
      />
    </div>
  </div>
</div>
