<app-auth-background>
  <form>
    <h1>Reset Password</h1>
    <div class="inputs">
      <app-auth-input-field
        label="Old Password"
        placeholder="Type your password here"
        type="password"
        [isPassword]="true"
        name="email"
        [required]="true"
      ></app-auth-input-field>

      <app-auth-input-field
        label="New Password"
        placeholder="Type your password here"
        [isPassword]="true"
        name="password"
        [required]="true"
      ></app-auth-input-field>
      <app-auth-input-field
        label="Confirm New Password"
        placeholder="Confirm your password here"
        [isPassword]="true"
        name="password"
        [required]="true"
      ></app-auth-input-field>
      <app-button [text]="'Reset Password'"></app-button>
    </div>
  </form>
</app-auth-background>
