<app-page-background>
  <div class="quote">
    <h3>Un nutritionniste, votre allié pour une santé équilibrée et durable</h3>
  </div>
  <app-svg-box [height]="'100%'" [width]="'95%'">
    <h2 class="title">Nos Nutritionnistes:</h2>

    <div class="filters">
      <app-search [formControlName]="searchControl"></app-search>
      <app-dropdown
        [name]="'Experience'"
        [options]="experienceOptions"
        [formControlName]="experienceControl"
      ></app-dropdown>
    </div>
    <div class="grid-container">
      <app-nutritionist-item
        *ngFor="
          let nutritionist of nutritionists
            | nutritionistsFilter
              : searchControl.value
              : experienceControl.value
        "
        [nutritionist]="nutritionist"
      ></app-nutritionist-item>
    </div>
  </app-svg-box>
</app-page-background>
