<app-page-background [quote]="'Manger sain, c\'est prendre soin de soi avec chaque bouchée'">
  <div class="grid-container">
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>
    <app-recette-item></app-recette-item>

  </div>
</app-page-background>