.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 12px;
  font-size: clamp(9px, 14px, 1.4vw);
  color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 25px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--primary-color), var(--secondary-color))
      border-box;
  outline: none;
}
.search-input::placeholder { /* Standard syntax */
  color: var(--primary-color);
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--primary-color);
}

.search-input::-ms-input-placeholder { /* Microsoft Edge (legacy) */
  color: var(--primary-color);
}

.search-input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  color: var(--primary-color);
}

.search-input:focus{
  border: 1px solid transparent; /* Maintain gradient trick */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--secondary-color), var(--primary-color))
      border-box; /* Slight color shift for focus */
  box-shadow: 0 0 1px var(--primary-color), 0 0 1px var(--secondary-color),
    0 0 1px var(--primary-color);
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: var(--primary-color);
  width: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
}
